name: Build and Deploy Code

on: [push]

jobs:
  job1: 
    runs-on: ubuntu-latest
    steps: 
      - name: pulling git repo
        uses: actions/checkout@v5
      - name: hello to all
        run: echo "hello all" 
         
