name: Build and Deploy Code

on: [push]

jobs:
  job1: 
    runs-on: ubuntu-latest

    steps: 
      - name: pulling git repo
        uses: actions/checkout@v5
      - name: Install Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'  
      - name: Update pip
        run: python3 -m pip install --upgrade pip
      - name: Install dependencies
        run: pip3 install -r requirements.txt
      - name: run the test cases
        run: |
          pip3 install pytest
          pytest --disable-warnings -v -s
            

         
